*{
    margin: 0;
    padding: 0;
}
/*
 /* header css start * /

  */
header a{
    display: block;
}
.header{
    line-height: 20px;
    width: 1130px;
    margin: 0 auto;
}
/* header css end * /

 /* container css start*/
 .container {
     height: 588px;
     background: url("背景.jpg") center;
 }
.container .login-bar{
    width: 1130px;
    margin: 0 auto;
}
 .container .login-form {
     width: 410px;
     height: 524px;
     background-color: white;
     float: right;
     margin-top: 32px;
 }
 .container .top-text {
     padding: 27px  0 24px ;
     text-align: center ;
     font-size: 24px;
 }
 .container .top-text a{
     text-decoration: none ;
     color: #666;

 }
 .container .border-line {
     margin: 0 35px ;
     border: 1px solid  #dddddd;
 }
 .container .top-text a:first-child {
     color: #f56600;
 }
 .container .top-text a:hover {
     color: #f56600;
 }
 .container .login-input input{
     width: 306px;
     height: 22px;
     line-height: 22px;
     padding: 13px 16px 13px 14px ;
     font-family: arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
     font-size: 16px;
     margin-bottom: 14px;

 }
 .container .login-input {
     width: 348px;
     margin: 0 auto;
 }
 .container .login-content {
     width: 348px;
     margin: 0 auto;
 }
 .container .login-btn input{
     width: 100%;
     height: 50px;
     line-height: 50px;
     display: block;
     margin-bottom:14px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     cursor: pointer;
     border: none ;
     background-color: #f56600;
     cursor: pointer;
     margin-bottom: 10px;
 }
 .container .small-text {
     font-size: 14px;
     color: #757575;
 }
 .container .st-left {
     float: left;
 }
 .container .st-left a{
     color: #f56600;
 }
 .container .st-right {
     float: right;
     clear: right;
 }
 .container .st-right a{
     color: #666666;
 }
 .clearfix:after{
     content:"";
     clear: both;
     display: block;
 }
 .container .small-text a{
     text-decoration: none ;
 }
.container .login-type fieldset{
    border:0;
    border-top: 1px solid #dddddd;
    color:#666666;
    font-size: 14px;
    padding-top: 15px;
}
.container .login-type{
    margin-top: 115px;
}
.container .login-icon{
    text-align: center ;
}
.container .login-icon a{
    width: 30px;
    height: 30px;
    background-color: #757575;
    display: inline-block;
    border-radius: 20px ;
    margin: 0 17px ;
}
.container .login-icon i{
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("登陆图标.png ");
    margin: 4px auto 0;
}
.container .qq i {
    background-position: -19px 0;
}
.container .qq:hover{
    background-color:#0288d1 ;
}
.container .sina i {
    background-position:-38px 0 ;
}
.container .sina:hover{
    background-color:#d32f2f ;
}
.container .alipay i{
    background-position:-54px 0 ;
    width: 25px;
}.container .alipay:hover{
    background-color:#0ae ;
 }

.container .wechat i{
    background-position:-84px 0;
    width: 23px;
}.container .wechat:hover{
    background-color:#00d20d ;
 }

